@model IEnumerable<InternshipManagement.Presentation.Models.final_project_assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.convention.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sheet.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.descriminator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.validation_group.id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.convention.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sheet.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.descriminator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.validation_group.id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
