@model IEnumerable<InternshipManagement.Presentation.Models.sheet>

@{
    ViewBag.Title = "Index";
}


<table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.student_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project_title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.problematique)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student_name)
            </td>
            <td>
                @item.created.Value.ToShortDateString()
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.project_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.problematique)
            </td>



          
        </tr>
        }
    </tbody>

</table>
